{{ with (index site.Data site.Language.Lang).introduction }}
{{ if .enable }}
<section id="introduction">
    <div class="container">
        <h1>{{ .name | markdownify }}</h1>

        {{ with .intro }}
        <div class="row justify-content-center">
            <div class="col-lg-8">{{ . | markdownify }}</div>
        </div>
        {{ end }}

        {{ with .callout }}
        <h2>{{ . | markdownify }}</h2>
        {{ end }}

        {{ with .closing }}
        <hr/>
        
        <div class="row justify-content-center">
            <div class="col-lg-8">{{ . | markdownify }}</div>
        </div>
        {{ end }}
    </div>
</section>
{{ end }}
{{ end }}