<article class="col-md-6 col-lg-4 wow fadeInUp" data-wow-duration="500ms">
    <img src="{{ .Params.image | absURL }}">

    <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
    <ul class="list-inline mb-50">
        {{ with .Params.Author }}
        <li class="list-inline-item"><a href="{{ `author/` | relLangURL }}{{ . | urlize }}/">{{ . }}</a></li>{{ end }}
        {{ with .Date }}
        <li class="list-inline-item">{{ dateFormat "Monday, Jan 2, 2006" . }}</li>{{ end }}
    </ul>

    <a class="btn btn-transparent" href="{{ .Permalink }}">Read</a>
</article>
