{{ define "main" }}

{{ partial "navigation.html" . }}

<section id="document">
    <div class="container">
        {{ if or (.Title) (.Params.Author) (.Params.Image) (.Params.Description) }}
        <header>
            {{ with .Title }}
            <h1>{{ . }}</h1>{{ end }}

            <ul class="list-inline mb-50">
                {{ with .Params.Author }}
                <li class="list-inline-item"><a href="{{ `author/` | relLangURL }}{{ . | urlize }}/">{{ . }}</a></li>{{ end }}
                {{ with .Date }}
                <li class="list-inline-item">{{ dateFormat "Monday, Jan 2, 2006" . }}</li>{{ end }}
            </ul>

            {{ if .Params.Image }}
            <img loading="lazy"
                 data-background="{{ .Params.image_bg }}"
                 {{ with .Params.image_size }}height="{{ . }}"{{ end }}
                 src="{{ .Params.Image | absURL }}">{{ end }}
            {{ with .Params.Description }}<p class="caption">{{ . | markdownify }}</p>{{ end }}
        </header>
        {{ end }}

        {{ if .Params.toc | default true }}
        <div class="row">
            <div class="col-lg-8 offset-lg-2">{{ .TableOfContents }}</div>
        </div>
        {{ end }}
        
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="post-single-content">{{ .Content }}</div>

                {{ if site.Params.post_share }}
                    {{ partial "post-share.html" . }}
                {{ end }}
                <div class="mt-5">
                    {{ template "_internal/disqus.html" . }}
                </div>
            </div>
        </div>
    </div>
</section>

{{ with .Params.chat }}
<iframe src="https://chat.spectre.app/embed/{{ . }}" loading="lazy"></iframe>
{{ end }}

{{ end }}
